@model IEnumerable<ProjetoCiele.Entidades.Produtos>

@{
    ViewData["Title"] = "Index-Produtos";
    Layout = "_LayoutAdm";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create">Cadastrar novo produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id})|
                @Html.ActionLink("Delete", "Delete", new { id= item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
